{% extends 'base/base.html' %}

{% load static %}

{% block title %} Creación Chofer {% endblock %}

{% block content %}

<h2 style="text-align: center;">Creando Chofer</h2>
<div class="container">
    <form action="#" method="POST" id="formChofer">
        {% csrf_token %}
        <div class="form-group">
            {{ chofer_form.idChofer.label_tag }}
            {{ chofer_form.idChofer }}
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                {{ chofer_form.rut.label_tag }}
                {{ chofer_form.rut }}
            </div>
            <div class="col-md-3">
                {{ chofer_form.dv.label_tag }}
                {{ chofer_form.dv }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                {{ chofer_form.pNom.label_tag }}
                {{ chofer_form.pNom }}
            </div>
            <div class="col-md-6">
                {{ chofer_form.sNom.label_tag }}
                {{ chofer_form.sNom }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                {{ chofer_form.pApe.label_tag }}
                {{ chofer_form.pApe }}
            </div>
            <div class="col-md-6">
                {{ chofer_form.sApe.label_tag }}
                {{ chofer_form.sApe }}
            </div>
        </div>
        <input type="submit" value="Almacenar" class="btn btn-success my-3">
    </form>
</div>

{% endblock %}