{% extends 'base/base.html' %}

{% load static %}

{% block title %} Registro Reserva {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bienvenido al Sistema de Reservas del Aeropuerto</h1>
            <p class="lead">Gracias por elegir nuestro servicio de transfer.</p>
            <a href="{% url 'reserva' %}" class="btn btn-primary btn-lg mt-3">Hacer una Reserva</a>
        </div>
    </div>
</div>
{% endblock %}